{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <link rel="stylesheet" href="{% static 'welcome/style.css' %}">
</head>
<body>
  <h2 style="color:rgb(184, 42, 177)">Login Successful</h2>
  <p>Welcome back!</p>
  <form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="logout_btn">Logout</button>
  </form>
</body>
</html>